To-Do.txt
Template.txt
*.html
*.bak*
*.new
*.corrupted
*.tmp
*.fixed
Publish.ps1
Ignore/*
.vs/*
.vscode/*
.github/*
.github/workflows/*
.github/workflows/pipeline.yml
.gitignore
Examples/Output/*
Examples/Logs/*
Releases/*
Artefacts/*
Build/*
Output/*
Public/Template.txt
ReleasedUnpacked/*
Sources/.vs
Sources/*/.vs
Sources/*/obj
Sources/*/bin
Sources/*/*/obj
Sources/*/*/bin
Sources/packages/*
Lib/Default/*
Lib/Standard/*
Lib/Core/*
Public/GPO/Test-GpoPrivilegeRights.ps1
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix
### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
